@font-face {
  font-family: KGCrossingALine;
  src: url(font_styles/KGCrossingALine.ttf);
}

* {
  font-family: KGCrossingALine;
}

html {
  background-color: black;
}

.body-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.header {
  color: white;
  font-size: 100px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-top: 30px;
}

.game-Container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.game-intro-Container {
  width: 300px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-manual {
  font-size: 22px;
  background-color: white;
  opacity: 0.6;
  border-radius: 8px;
  padding: 20px 15px;
  margin-bottom: 100px;
}

.logo {
  margin-right: 10px;
}

#newGame-button {
  padding: 8px 25px;
  font-size: 25px;
  background-color: black;
  color: white;
  border-radius: 8px;
}

#mainCanvas {
  position: relative;
}

.canvas {
  position: relative;
  margin: o auto;
}

canvas {
  border-radius: 8px;
}

.enterNameDiv {
  z-index: 10;
  background-color: white;
  opacity: 0.6;
  width: 500px;
  height: 200px;
  position: absolute;
  position: center;
  top: 120px;
  left: 145px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 8px;
  font-size: 40px;
}

#inputDiv {
  z-index: 15;
  position: absolute;
  position: center;
  top: 50px;
  left: 150px;
}

#submitButton {
  background-color: black;
  color: white;
  border-radius: 6px;
}

.startDiv {
  z-index: 10;
  background-color: white;
  opacity: 0.6;
  width: 500px;
  height: 200px;
  position: absolute;
  position: center;
  top: 120px;
  left: 145px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  border-radius: 8px;
  display: none;
}

.startButtonDiv {
  z-index: 15;
  position: absolute;
  position: center;
  top: 5px;
  left: 160px;
}

#start-button {
  padding: 8px 25px;
  font-size: 25px;
  background-color: black;
  color: white;
  border-radius: 8px;
}

.startButtonDiv p {
  font-size: 40px;
}

.gameOver {
  z-index: 10;
  width: 500px;
  height: 200px;
  position: absolute;
  position: center;
  top: 20px;
  left: 140px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  border-radius: 8px;
  font-size: 150px;
  padding-bottom: 120px;
  display: none;
}

.scoreDiv-Container {
  width: 300px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#score {
  width: 150px;
  height: 50px;
  padding-top: 20px;
  padding-left: 15px;
  font-size: 30px;
  border-radius: 8px;
  background-color: black;
  color: white;
  border: 2px solid white;
}

.highscoreHeader {
  color: white;
  font-size: 30px;
  text-align: center;
}

#highscore {
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 8px;
  padding: 20px 15px;
  width: 140px;
  height: 130px;
}

.table {
    margin-left: 10px;
}

.table thead {
  font-size: 30px;
}

#highName {
  text-align: left;
}

#player0,
#player1,
#player2,
#player3,
#player4 {
  text-align: start;
  font-size: 25px;
  color: #4f4f4f;
}

#score0,
#score1,
#score2,
#score3,
#score4 {
  text-align: right;
  font-size: 25px;
  color: #4f4f4f;
}

.footer {
  color: white;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 30px;
}
